/*mobile css */
.carousel {
  width: 75%;
  height: 80%;
  background-color: rgb(234, 228, 228);
  border: 5px solid black;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Ubuntu', sans-serif;
}

.position {
  display: flex;
  justify-content: space-between;
  margin-top:50px;
}

.mobile--header {
  height: 50px;
  width:250px;
}

.mobile--card {
  opacity: 1;
  background: radial-gradient( #00b1ef, #becdf3);
  width: 225px;
  border-radius: 5px;
  border: 10px double black;
  height: 295px;
  text-align: center;
  white-space: break-spaces;
  position: relative;
  padding:2px;

}

.mobile--text {
  background-color: white;
  padding: 5px;
  border-radius:5px;
}

.mobile--textLeft {
  font-size: 24px;
  float: left;
  font-weight: 900;

}

.mobile--textRight {
  font-size: 15px;
  float: right;
}

.mobile--imageBox {
  width: 140px;
  margin: auto;
}

.mobile--opensea {
  width: 30px;
  right: 0;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  padding:7px;
}

.arrow {
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.fas {
  font-size: 30px;
  cursor: pointer;
}

.mobile--footer--box {
  width: -webkit-fill-available;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 30px;
  background-image: url('./slimes.png');
  background-size: contain;
}

.header--box{
  width: -webkit-fill-available;
  background-color: #00CDFA;
  text-align:center;
}


@media only screen and (max-height: 575.98px) and (orientation: landscape) {
.position{
  display: flex;
  justify-content: space-between;
  margin-top:0px;
}

.mobile--header {
  height: 30px;
}
  .mobile--card {
      opacity: 1;
      background-color: lightyellow;
      width: 140px;
      border-radius: 5px;
      border: 8px double black;
      height: 200px;
      text-align: center;
      white-space: break-spaces;
      position: relative;
      margin-top:5px;
      overflow:hidden;
    }
     .mobile--text {
      background-color: white;
      padding: 5px;
      border-radius:5px;
     }

    .mobile--textLeft {
      font-size: 21px;
      float: left;
      font-weight: 900;
    }
     .mobile--textRight {
      font-size: 10px;
      float: right;
    }
    .mobile--imageBox {
      width: 95px;
      margin: auto;
    }

    .mobile--opensea {
     width: 20px;
     right: 0;
     bottom: 0;
     cursor: pointer;
      position: absolute
    }
    .mobile--context{
      font-size:9px;
    }

    .arrow {
          margin: auto;
          width: fit-content;
          height: fit-content;
        }

        .fas {
          font-size: 30px;
          cursor: pointer;
        }

        .mobile--footer--box {
          width: -webkit-fill-available;
          bottom: 0;
          left: 0;
          position: absolute;
          height: 30px;
          background-image: url('./slimes.png');
          background-size: contain;
        }

}
