/*mobile css */
.carousel {
  width: 75%;
  height: 75%;
  background-color: rgb(234, 228, 228);
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Ubuntu', sans-serif;

}

.center--mobile{
  margin: auto;
    background-image: url(./marble.png);
 background-repeat: no-repeat;
 background-size: cover;
  height:100%;
  width:97%;
  border-radius:5px;
}

.position {
  display: flex;
  justify-content:center;
  align-items: center;
}

.item--position{
  display:flex;
  justify-content: space-between;
}

.mobile--header {
  width:250px;
}

.mobile--card {
  opacity: 1;
  background: radial-gradient( #00b1ef, #becdf3);
  width: 225px;
  border-radius: 5px;
  border: 10px double black;
  height: 295px;
  text-align: center;
  white-space: break-spaces;
  position: relative;
  padding:2px;

}


.mobile--text {
  background: radial-gradient( #58cbf4, #becdf3);
  border-radius:5px 5px 0px 0px;
  display:flex;
  justify-content: space-between;
}

.mobile--textLeft {
  font-size: 20px;
  /* float: left; */
  font-weight: 900;

}

.mobile--textRight {
  font-size: 12px;
  /* float: right; */
}

.mobile--imageBox {
  width: 140px;
  margin: auto;
  border-bottom: double 5px silver;
}

.mobile--opensea {
  width: 30px;
  right: 0;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  padding:7px;
  border-radius: 50%;
}

.arrow {
  margin: auto;
  width: fit-content;
  height: fit-content;
}

.fas {
  font-size: 30px;
  cursor: pointer;
}

.mobile--footer--box {
  width: -webkit-fill-available;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 30px;
  background-image: url('./slimes.png');
  background-size: contain;
}

.header--box{
  width: -webkit-fill-available;
  background-color: #00CDFA;
  text-align:center;
  top:0;
  position:absolute;
}
@media only screen and (min-width: 481px) and (orientation: portrait) {
  .item--position{
  column-gap: 40px;
}
}


@media only screen and (max-height: 575.98px) and (orientation: landscape) {
.carousel {
  height: 80%;
}
.item--position{
  display:flex;
  justify-content: space-between;
  column-gap: 20px;
}

.mobile--header {
  height: 22px;
}
.mobile--header {
  width:208px;
}
  .mobile--card {
      opacity: 1;
      background-color: lightyellow;
      width: 120px;
      border-radius: 5px;
      border: 10px double black;
      height: 167px;
      text-align: center;
      white-space: break-spaces;
      position: relative;
      margin-top:5px;
      overflow:hidden;
    }
     .mobile--text {
      border-radius:5px 5px 0px 0px;
     }

    .mobile--textLeft {
      font-size: 10px;
      font-weight: 900;
    }
     .mobile--textRight {
      font-size: 7px;
    }
    .mobile--imageBox {
      width: 80px;
      margin: auto;
    }

    .mobile--opensea {
     width: 20px;
     right: 0;
     bottom: 0;
     cursor: pointer;
      position: absolute;
      border-radius:50%;
    }
    .mobile--context{
      font-size:7px;
    }

    .arrow {
          margin: auto;
          width: fit-content;
          height: fit-content;
        }

        .fas {
          font-size: 30px;
          cursor: pointer;
        }

        .mobile--footer--box {
          width: -webkit-fill-available;
          bottom: 0;
          left: 0;
          position: absolute;
          height: 20px;
          background-image: url('./slimes.png');
          background-size: contain;
        }

}
